certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
geojson==2.3.0
idna==2.7
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.22.0
pygal==2.4.0
pygame==1.9.3
pyowm==2.9.0
pyparsing==2.2.0
pyTelegramBotAPI==3.6.6
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.1
six==1.11.0
telebot==0.0.3
urllib3==1.23
virtualenv==16.1.0
